{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center mb-3">Add New Habits</h1>
  	<form method="post" action="">
		{% csrf_token %}

		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0">Name for your Habit</h5>
				<input type="hidden" id ='habbit_id' value="{{habit.habbit_id}}" name='habbit_id'class="form-control" required="required" placeholder="Habit name">

			</div>
				<div class="card-body">
					<input type="text" id ='habit_name' value="{{habit.habbit_name}}" name='habit_name'class="form-control" required="required" placeholder="Habit name">
				</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0">What would you like to change in your life? (Habit description)</h5>
			</div>
				<div class="card-body">
					<input type="text" id ='habit_desc' value='{{habit.habbit_desc}}' name='habit_desc'class="form-control" required="required" placeholder="Habit description">
				</div>
		</div>

		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0">When is a day successful in context of this habit?</h5>
			</div>
				<div class="card-body">
					<p>When I </p>
					<input type="text" id ='success_activity' value="{{habit.success_activity}}" name='success_activity'class="form-control" required="required" placeholder="run">

					<select class="form-select mb-3" name="success_range", id='success_range'>
						<option selected value='no less than'>no less than</option>
						<option value='no more than'>no more than</option>
						<option value='exactly'>exactly</option>
					</select>

					<input type="number" id ='success_amount' value="{{habit.success_amount}}" name='success_amount'class="form-control" required="required" placeholder="10">
					
					<input type="text" id ='success_unit' value="{{habit.success_unit}}" name='success_unit'class="form-control" required="required" placeholder="kilometers">
					<p>a day.</p>
				</div>
		</div>

		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0">What is your target for number of success days?</h5>
			</div>
				<div class="card-body">
					<input type="number" id ='habit_days_target' value="{{habit.habbit_days_target}}" name='habbit_days_target'class="form-control" required="required" placeholder="5">
				</div>
		</div>


			<div class="card-body text-center">
					{% if habit.habbit_id != null %}
					<button class="btn btn-warning" type="submit" >Edit your habit!</button>

					{% else %}
					<button class="btn btn-success" type="submit" >Add your habit!</button>

					{% endif %}
			</div>
	
	</form>

{% endblock %}