{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center mb-3">Log Habits</h1>
  {% if habits %}
  	<form method="post" action="submission/">
		{% csrf_token %}
		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0">Select habit that you want to log</h5>
			</div>
				<div class="card-body">
					<select class="form-select mb-3" name="selected_habit", id='selected_habit'>
							<option selected>List of your habits</option>
							{% for habit in habits %}
								<option value={{habit.habbit_id}}>{{habit.habbit_name}}</option>
							{% endfor %}
							
					</select>
				</div>
		</div>

		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0">Date you want to insert</h5>
			</div>
			<div class="card-body">
				<input type="date" id="date" name="date"
						value="2023-01-25"
						min="2018-01-01" max="2025-12-31">
			</div>
		</div>

	
		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0">How many UNITS have you ACTIVITY?</h5>
			</div>
			<div class="card-body text-center">
				<input type="number" id ='amount' name='amount'class="form-control" required="required" placeholder="Input">
			</div>

			
		</div>
		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0">If you want to share a post with others type it below :&#41; </h5>
			</div>
			<div class="card-body text-center">
				<input type="text" id ='post' name='post'class="form-control"  placeholder="Your post">
			</div>

			<div class="card-body text-center">
				<button class="btn btn-success" type="submit" >Track your habit!</button>
			</div>
			
		</div>
	</form>
	{% else %}
    <p> Add your Habits to see them here!</p>
	<div class="medium"><a class="btn btn-primary" href="/habits/add_habit">Add new Habit!</a></div>
  {% endif %}

{% endblock %}