{% extends 'base.html' %}

{% block content %}

<div class="card">
    <form>
    <div class="card-header">
        <h5 class="card-title mb-0">Select your habit to be analyzed</h5>
    </div>
        <div class="card-body">
            <select class="form-select mb-3" name="habit_id", id='selected_habit'>
                    <option disabled selected>Select habits....</option>
                    {% for habit in habitsnames %}
                        <option value={{habit.habbit_id}}>{{habit.habbit_name}}</option>
                    {% endfor %}   
            </select>
            <button class="btn btn-primary" type="submit" >Analyze</button>
        </div>
      
    </form>
</div>



<div class="row">
    <div class="col-xl-12 col-xxl-7">
        <div class="card flex-fill w-100">
            <div class="card-header">

                <h5 class="card-title mb-0">Recent Activity</h5>
            </div>
            <div class="card-body py-3">
                <div class="chart chart-sm"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <canvas id="chartjs-dashboard-line" style="display: block; width: 852px; height: 252px;" width="852" height="252" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Habits summary</h5>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-xxl-5 d-flex">
        <div class="w-100">
            <div class="row">
                <div class="col-sm-23">
                    {% for card in cards %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title">Habit : {{card.habbit_name}}</h5>
                                </div>

                            </div>
                            <h1 class="mt-1 mb-3">Progress: {{card.amount_sucess}} {{card.success_unit}}</h1>
                            <div class="mb-0">
                                <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> {{card.last_date}} </span>
                                <span class="text-muted">last date</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
               
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
        var gradient = ctx.createLinearGradient(0, 0, 0, 225);
        var x_axis =  {{ x_axis|safe }};
        var y_axis = {{ y_axis|safe }};
        var label = {{ label|safe }} + ' in ' + {{ unit|safe }};
        
        gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
        gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
        // Line chart
        new Chart(document.getElementById("chartjs-dashboard-line"), {
            type: "line",
            data: {
                labels: x_axis,
                datasets: [{
                    label: label,
                    fill: true,
                    backgroundColor: gradient,
                    borderColor: window.theme.primary,
                    data: y_axis
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: true
                },
                tooltips: {
                    intersect: false
                },
                hover: {
                    intersect: true
                },
                plugins: {
                    filler: {
                        propagate: false
                    }
                },
                scales: {
                    xAxes: [{
                        reverse: true,
                        gridLines: {
                            color: "rgba(0,0,0,0.0)"
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            stepSize: 5
                        },
                        display: true,
                        borderDash: [3, 3],
                        gridLines: {
                            color: "rgba(0,0,0,0.0)"
                        }
                    }]
                }
            }
        });
    });
</script>
{% endblock %}