{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center mb-2">The most recent 10 habits</h1>
  {% if posts %}
    {% for post in posts %}
      <div class="col-md-8 col-xl-12">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body h-100">

            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <big><strong>{{post.post_user}}</strong> shared a <strong>post</strong>! &nbsp;&nbsp; 
                  {% if post.number_of_likes != None%}
                    {{post.number_of_likes}}
                  {% else %}
                    0
                  {% endif %}
                  </big> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 2 24 24" fill="red" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart "><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                
                {% if post.like_value == 1 %}
                    <a href="/habits/dislike/{{post.post_id}}" onclick="myFunction()" style="float:right" class="btn btn-sm btn-danger mt-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle align-middle me-2"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>Dislike</a>

                  {% else %}
                    <a href="/habits/like/{{post.post_id}}" style="float:right" class="btn btn-sm btn-success mt-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart feather-sm"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> Like</a>
                
                {% endif %}
                <br>
                <medium class="text-muted">on {{post.post_date}}</medium><br>
                
                <div class="border text-bi text-muted p-2 mt-1">
                  <big> {{post.post_content}}</big>
                </div>
                
                
                <div class="d-flex align-items-start mt-1">
                  <div class="flex-grow-1">
                    <br>
                    <big><strong>Comments section</strong></big><br>
                    {% for comment in comments %}
                        {% if post.post_id == comment.post_id%}
                          <strong>{{comment.comment_user}}</strong> commented on {{comment.comment_date}} <br>
                          <div class="border text-muted p-2 mt-1">
                            {{comment.comment_content}}
                          </div>
                        {% endif %}
                    {% endfor %}

                    <form method="post" action="/habits/comment/submission/">
                      {% csrf_token %}
                      <div class="card-body text-center">
                        <input type="text" id ='content' name='content'class="form-control" required="required" placeholder="Your comment">
                        <br>
                        <input type="hidden" id="post_id" name="post_id" value="{{post.post_id}}">
                        <button class="btn btn-primary" type="submit" >Add comment!</button>
                      </div>
                    </form>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    {% endfor %}

    {% else %}
    <p> No Posts available</p>
  {% endif %}

  {% comment %} {% if posts %}
    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                
                <p class="lead">{{post.content}} user: {{post.user_id}} username {{post.user_name}} date {{post.publish_date}}</p>
            </div>
        </div>
    {% endfor %}
  {% else %}
    <p> No Posts available</p>
  {% endif %} {% endcomment %}
{% endblock %}