{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center mb-3">My Motivations</h1>
  {% if motivations %}
    {% for motivation in motivations %}
        <div class="card mb-3">
          <div class="card-header">
            <div><big><strong>{{motivation.motivation_desc}}</strong></big></div>
          </div>
        </div>
    {% endfor %}
    <div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0">What is your new motivation?</h5>
			</div>
      <form method="post" action="submission/">
        {% csrf_token %}
				<div class="card-body">
					<input type="text" id ='motivation' name='motivation'class="form-control" placeholder="Your motivation">
          <br><button type="submit" >Add new Motivation!</button>
				</div>
      </form>
		</div>
  {% else %}
    <p> No Habits available</p>
    <form method="post" action="submission/">
      {% csrf_token %}
      <div class="card-body">
        <input type="text" id ='motivation' name='motivation'class="form-control" placeholder="Your motivation">
        <br><button type="submit" >Add new Motivation!</button>
      </div>
    </form>
  {% endif %}

  
{% endblock %}